html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar h1 {
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.navbar {
  background-color: #134074;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto auto auto 100%;
  gap: 4rem;
  padding: 1rem;
}

.navbarblock {
  display: grid;
  grid-template-columns: 0.75fr 3.5fr;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbaricon {
  width: 1.5rem;
  height: 1.5rem;
  justify-self: end;
}

.topbar {
  background-color: white;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main {
  background-color: rgb(238, 238, 238);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.searchbar {
  grid-column: 1 / 2;
  background-color: blue;
}

.alarm {
  grid-column: 2 / 3;
  background-color: aqua;
}

.usernameiconsmall {
  grid-column: 3 / 5;
  background-color: green;
}

.usernameiconlarge {
  grid-column: 1 / 2;
  background-color: yellow;
}

.new {
  grid-column: 2 / 3;
  background-color: pink;
}

.upload {
  grid-column: 3 / 4;
  background-color: brown;
}

.share {
  grid-column: 4 / 5;
  background-color: purple;
}
